mlflow==2.14.3
cffi==1.16.0
cloudpickle==2.2.1
cytoolz==0.12.2
dask-expr==1.1.0
defusedxml==0.7.1
distributed==2024.5.0
graphviz==0.20.3
lightgbm==4.4.0
lz4==4.3.2
matplotlib==3.8.4
python-snappy==0.6.1
scikit-learn==1.4.2
zstandard==0.22.0