streamlit==1.27.2
pandas==1.5.3
numpy== 1.27.2
seaborn==0.13.2
matplotlib== 3.7.5
plotly==5.11.0
scikit-learn== 1.2.2
lightgbm==4.0.0
shap== 0.42.1
streamlit_shap==1.0.2
pillow==10.2.0
xplotter==0.0.6
